@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}
:root {
  --main-font: "Libre Baskerville", serif;
  --secondary-font: "Caveat", cursive;
  --body-font: "Prata", serif;
  --dark-black: #272727;
  --dark-orange-yellow: #d4aa7d;
  --light-yellow: #efd09e;
  --light-green: #d2d8b3;
  --blue: #90a9b7;
  --off-white: #e5d6a8;
  --off-yellow: #dcb468;
  --off-green: #7e7c3d;
  --off-brown: #3f332a;
  --off-red: #72322f;
}

html {
  /* font-family: var(--body-font); */
  font-size: 10px;
  /* color: var(--body-font-color); */
  scroll-behavior: smooth;
}
.top_screen .row {
  border-top: 10px solid var(--dark-black);
  /* color: var(--blue); */
}
.logo {
  text-align: center;
  margin-top: 20px;
  float: left;
}
.title {
  font-family: var(--secondary-font);
  font-weight: 800;
  color: var(--dark-orange-yellow);
  font-size: 90px;
  margin-top: 25px;
  text-align: center;
}
.social_media {
  margin: 0;
}
.social_media ul {
  margin: 0;
  list-style: none;
  text-align: right;
}
.social_media ul li {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 2px;
  margin-top: 50px;
  margin-right: 5px;
}
.social_media ul li a {
  background-color: var(--dark-black);
  width: 35px;
  display: block;
  height: 35px;
  text-align: center;
  padding-top: 6px;
  border-radius: 50%;
  transition: 0.5s;
  color: var(--light-green);
}
.social_media ul li:hover a {
  background-color: var(--light-green);
  color: var(--dark-black);
}

/* #main_menu .social_area {
}
#main_menu .social_area ul {
  margin: 0;
  list-style: none;
  text-align: right;
}
#main_menu .social_area ul li {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 4px;
}
#main_menu .social_area ul li a {
  background-color: rgb(155, 199, 155);
  width: 35px;
  display: block;
  height: 35px;
  text-align: center;
  padding-top: 9px;
  border-radius: 50%;
  transition: 0.5s;
}
#main_menu .social_area ul li a:hover {
  background-color: #395048;
} */
.menu_bar {
  /* margin-bottom: -20px; */
  padding: 0;
}
.menu_bar ul {
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: var(--dark-orange-yellow);
  height: 40px;
}
.menu_bar ul li {
  display: inline-block;
  /* padding: 4px; */
  /* margin: 11px; */
}
.menu_bar ul li a {
  background-color: var(--dark-orange-yellow);
  width: 150px;
  display: block;
  text-align: center;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-black);
  height: 100px;
  padding-top: 6px;
  font-family: "Xanh Mono", monospace;
}
.menu_bar ul li a:hover {
  background-color: var(--light-yellow);
  text-decoration: none;
}

/* 
Banner area code with slider and timer animations
*/
#banner_area .w3-content .w3-section {
  margin: 0 !important;
  padding: 0 !important;
}
#banner_area .bx-wrapper {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  background-color: var(--dark-orange-yellow) !important;
}
#banner_area {
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
#banner_area .item {
  width: 100vw;
  overflow: hidden;
  /* border: solid -40px red; */
  /* border: 0 !important;
   */
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
#banner_area .item img {
  width: 100vw;
  height: auto;
  border: 0 !important;
}
.banner_text {
  height: 30%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10%;
}
.banner_table {
  display: table;
  height: 100%;
  width: 50%;
}
.banner_align {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
.banner_textarea {
  margin: 0 auto;
  /* overflow: hidden;
   */
  width: 200px;
}
.main_banner {
  float: right;
  width: 50%;
}
/* .bx-wrapper .bx-pager {
  color: #dd5158;
  background-color: #dd5158;
} */
.main_banner h3 {
  color: #6e646e;
}
.main_banner p {
  color: black;
}
.main_banner a {
  border-radius: 25px;
  color: #dd5158;
  display: inline-block;
  /* padding: 10px 20px; */
  padding: 10px;
  text-decoration: none;
  /* border-color: black; */
  z-index: 5;
  background: burlywood;
}
.main_banner a:hover {
  background-color: #473d48 none repeat scroll 0 0;
  text-decoration: none;
}

/* 
code for logo_coffe cake with coffee adn book picture with text id will be sec
*/
#sec .banner_text {
  top: 0;
  left: 500px;
  position: absolute;
}
#sec .banner_table {
  display: table;
  height: 100%;
  width: 80%;
}
#sec .banner_align {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
#sec .banner_textarea {
  margin: 0 auto;
  /* overflow: hidden;
   */
  width: 600px;
}
#sec .main_banner {
  float: right;
  width: 80%;
}
/* .bx-wrapper .bx-pager {
  color: #dd5158;
  background-color: #dd5158;
} */
#sec .main_banner h3 {
  color: #0e0d0e;
  font-size: 35px;
  font-weight: 600;
  font-family: var(--secondary-font);
}
#sec p {
  color: rgb(20, 19, 19);
  font-family: var(--body-font);
  font-weight: 700;
}
.sec_button {
  float: right;
  background-color: #dd5158;
  /* z-index: 5; */
  margin-left: 80px;
}
#sec .sec_button a {
  /* background-color: #dd5158; */
  border-radius: 25px;
  color: var(--light-yellow);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  /* border-color: black; */
  z-index: 5;
  background: var(--dark-black);
  /* float: right; */
}
#sec .sec_button:hover {
  background-color: var(--blue);
  color: var(--light-green);
  text-decoration: none;
}

/* 
end of code for sec button
*/

/* 
start of code for first image button id will be first
*/
#first .banner_text {
  height: 30%;
  position: absolute;
  width: 60%;
}
#first .banner_table {
  display: table;
  height: 100%;
  width: 80%;
  top: 60%;
  right: 70%;
  margin-top: 380px;
  margin-left: 710px;
  
}
#first .banner_align {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
#first .banner_textarea {
  margin: 0 auto;
  /* overflow: hidden;
   */
  width: 400px;
}
#first .main_banner {
  float: right;
  width: 80%;
}
/* .bx-wrapper .bx-pager {
  color: #dd5158;
  background-color: #dd5158;
} */
#first .main_banner h3 {
  color: rgb(9, 41, 9);
  font-size: 35px;
  font-weight: 600;
  font-family: var(--secondary-font);
}
#first .main_banner p {
  color: rgb(25, 30, 48);
  font-family: var(--body-font);
  font-weight: 700;
}
#first .first_but {
  border-radius: 25px;
  color: var(--light-green);
  display: inline-block;
  /* padding: 10px 20px; */
  padding: 10px;
  text-decoration: none;
  /* border-color: black; */
  z-index: 5;
  background: rgb(9, 41, 9);
}
#first .first_but:hover {
  background-color: var(--blue);
  color: var(--dark-black);
  text-decoration: none;
}
/* 
End of first image 
*/
/* 
Start of thrid and final button the name and code will thrid but
*/

#thrid .banner_text {
  top: 0;
  position: absolute;
  right: 0;
  height: 30%;
  width: 60%;
}
#thrid .banner_table {
  display: table;
  height: 100%;
  width: 80%;
  margin-left: 940px;
}
#thrid .banner_align {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
#thrid .banner_textarea {
  margin: 0 auto;
  /* overflow: hidden;
   */
  width: 400px;
}
#thrid .main_banner {
  float: right;
  width: 80%;
}
/* .bx-wrapper .bx-pager {
  color: #dd5158;
  background-color: #dd5158;
} */
#thrid .main_banner h3 {
  color: var(--light-yellow);
  font-size: 35px;
  font-weight: 600;
  font-family: var(--secondary-font);
}
#thrid p {
  color: rgb(248, 240, 240);
  font-family: var(--body-font);
  font-weight: 700;
}
.thrid_but {
  float: right;
  background-color: var(--light-green);
  /* z-index: 5; */
  margin-left: 80px;
}
#thrid .thrid_but {
  /* background-color: #dd5158; */
  border-radius: 25px;
  color: var(--dark-black);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  /* border-color: black; */
  z-index: 5;
  background: var(--light-green);
  /* float: right; */
}
#thrid .thrid_but:hover {
  background-color: var(--dark-black);
  color: var(--light-green);
  text-decoration: none;
}

/* 

Banner section complete !!!

*/

/* 
client section right above the cities 
*/

#client_section .title_5 {
  margin-top: 60px;
  margin-bottom: 70px;
}
#client_section .title_5 h2 {
  font-family: "Xanh Mono", monospace;
  font-size: 50px;
  font-weight: 700;
  color: var(--dark-black);
  text-align: center;
}
#client_section .title_5 p {
  font-family: var(--body-font);
  font-size: 20px;
  color: rgb(29, 68, 29);
  font-weight: 800;
  text-align: center;
}

/* 
Our different locations and cities 
*/
.image-sec{
  display: inline-block;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* 
last image exp
*/
.container_1 {
  position: relative;
  width: 50%;
}

.container_1 .image_1 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle_1 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_1:hover .image_1 {
  opacity: 0.3;
}

.container_1:hover .middle_1 {
  opacity: 1;
}

.text_1 {
  /* background-color: #2e362e; */
  color: var(--dark-black);
  font-size: 30px;
  padding: 16px 32px;
  font-style: var(--body-font);
  font-weight: 800;
}

/* 
Image 2
*/
.container_2 {
  position: relative;
  width: 50%;
  margin: 0;
}

.container_2 .image_2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle_2 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_2:hover .image_2 {
  opacity: 0.3;
}

.container_2:hover .middle_2 {
  opacity: 1;
}

.text_2 {
  /* background-color: #2e362e; */
  color: var(--dark-black);
  font-size: 30px;
  padding: 16px 32px;
  font-style: var(--body-font);
  font-weight: 800;
}
/* 
Image 3
*/
.container_3 {
  position: relative;
  width: 50%;
  margin: 0;
}

.container_3 .image_3 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle_3 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_3:hover .image_3 {
  opacity: 0.3;
}

.container_3:hover .middle_3 {
  opacity: 1;
}

.text_3 {
  /* background-color: #2e362e; */
  color: var(--dark-black);
  font-size: 30px;
  padding: 16px 32px;
  font-style: var(--body-font);
  font-weight: 800;
}
/* 
Image 4 last image 
*/

.container_4 {
  position: relative;
  width: 50%;
  padding-bottom: 60px;
  margin: 0;
}

.container_4 .image_4 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle_4 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_4:hover .image_4 {
  opacity: 0.3;
}

.container_4:hover .middle_4 {
  opacity: 1;
}

.text_4 {
  /* background-color: #2e362e; */
  color: var(--dark-black);
  font-size: 30px;
  padding: 16px 32px;
  font-weight: 800;
  font-style: var(--body-font);
}

/* 
section with the 3 images adn small paragraoh other wise known as mini_banner_Sec
*/

#client_section {
  margin-bottom: 0;
  border-bottom: 5px solid var(--light-yellow);
}

/* 
mini banner section with information baout whta they are doing to help the community
*/

.mini_banner_sec {
  margin-top: 0;
  padding: 0;
  background-color: var(--dark-orange-yellow);
  height: 60vh;
}

.text_about_us {
  padding-left: 15px;
  padding-top: 80px;
  float: right;
}
.text_about_us h2 {
  font-size: 33px;
  font-weight: 500;
  color: var(--dark-black);
  font-family: var(--main-font);
}
.text_about_us p {
  padding-top: 10px;
  font-size: 14px;
  color: rgb(30, 63, 30);
  padding-bottom: 8px;
}
.butt_banner {
  font-size: 15px;
  padding: 10px;
  /* border-radius: 30%; */
  width: 40px;
  border-radius: 25px;
  color: var(--light-yellow);
  text-decoration: none;
  /* border-color: black; */
  background: var(--dark-black);
  /* float: right; */
  transition: 0.5s;
}
.butt_banner:hover {
  background-color: grey;
  color: var(--light-green);
  text-decoration: none;
}

.school_img {
  padding-top: 100px;
}

.owners_img {
  padding-top: 60px;
  float: left;
}

.bar_img {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 40px;
}
/* 
This will be the section for the menu 
*/

.menu_options img {
  float: right;
}
.menu_options h2 {
  margin-left: 90px;
  font-size: 30px;
  margin-top: 90px;
  font-weight: 700;
  color: var(--dark-black);
  font-family: "Xanh Mono", monospace;
}
.menu_options p {
  margin-top: 30px;
  margin-right: 200px;
  margin-left: 90px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

.menu_options a {
  font-family: "Xanh Mono", monospace;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-black);
  background-color: var(--dark-orange-yellow);
  text-decoration: none;
  transition: 0.5s;
  margin-left: 90px;
  border: 2px solid var(--dark-orange-yellow);
  padding: 5px;
}
.menu_options a:hover {
  background-color: var(--light-yellow);
  color: var(--dark-black);
  border: 2px solid var(--light-yellow);
}

/* hoover  */
/* 
For now the section with th elocations and directions iwll start
*/

.locations_directions {
  margin: 0;
  padding: 0;
  background-color: var(--light-green);
  height: 80vh;
  /* width: 100vh; */
  /* this does not cover the hwole page only half */
}
.locations_directions .mini_banner_sec2 {
  width: 100%;
}
.image_map {
  margin-top: 100px;
  margin-left: 40px;
}
.image_map img {
  float: right;
}
.direction_phone {
  margin-top: 120px;
  float: left;
  /* padding-right: 20px; */
}
.direction_phone h3 {
  font-family: "Mountains of Christmas", cursive;
  color: var(--dark-black);
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 20px;
}
.direction_phone p {
  font-family: var(--dark-black);
  font-size: 15px;
}
.hours_open {
  margin-top: 140px;
  float: left;
}
.hours_open ul {
  list-style: none;
}
/* 
Footer Section
*/

/* 
Footer Section 
*/
#footer_section {
  background-color: var(--dark-black);
  padding: 40px 0 0;
  width: 100%;
  clear: both;
  border-top: 10px solid var(--light-green);
  /* color: #633822; */
}
#footer_section .child_footer {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
#footer_section .child_footer h2.title {
  font-size: 18px;
  text-transform: uppercase;
}
#footer_section .child_footer p {
  font-size: 14px;
  text-transform: none;
  color: #fafaf9;
}
#footer_section .child_footer a {
  color: rgb(155, 199, 155);
  transition: 0.5s;
}
#footer_section .child_footer a:hover {
  text-decoration: none;
  color: #6d8e9c;
}
#footer_section .child_footer ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
#footer_section .child_footer ul li {
  padding: 5px o;
  border-bottom: 1px solid #6d8e9c;
}
#footer_section .child_footer ul li a {
  color: #fafaf9;
  text-decoration: none;
}
#footer_section .child_footer ul li a:hover {
  text-decoration: none;
  color: #6d8e9c;
}
#footer_section .child_footer input {
  width: 100%;
  background-color: #fafaf9;
  border: 1px solid #fafaf9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#footer_section .child_footer input[type="submit"] {
  background-color: #6d8e9c;
  width: 150px;
  border: 1px solid #6d8e9c;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.5s;
  color: #fafaf9;
}
#footer_section .child_footer input[type="submit"]:hover {
  background-color: #3c5f6e;
  border: 1px solid #3c5f6e;
  color: #fafaf9;
}
#footer_section .col-md-12 {
  margin-top: 20px;
  padding: 20px 0 0;
  text-align: center;
}
#footer-note {
  color: #d2d8b3;
}

/* ------------------------ */
/* 
This will be code for the numbers/menu page
*/
/* ------------------------- */
.overlay-img {
  background-image: url(./images/2nd_backg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  margin: 0;
  padding: 0;
}
.container-open {
}
.title-info {
  width: 600px;
  float: right;
  background-color: var(--off-red);
  margin-top: 15rem;
  margin-right: 10rem;
  padding: 25px;
  opacity: 0.9;
}
.title-info h2 {
  font-family: "Xanh Mono", monospace;
  font-weight: 500;
  font-size: 50px;
  opacity: 1;
  color: var(--off-white);
  letter-spacing: 2px;
}
.title-info p {
  font-size: 13px;
  font-weight: 30;
  opacity: 1;
  color: var(--off-white);
  
}
.social-media-right {
  float: right;
  margin-top: 20px;
}
.social-media-right ul {
  margin: 0;
  list-style: none;
  float: right;
  margin-right: 0;
}
.social-media-right ul li {
  display: inline-block;
  margin-right: 5px;
}
.social-media-right ul li a {
  background-color: var(--off-white);
  width: 40px;
  display: block;
  height: 40px;
  text-align: center;
  padding-top: 13px;
  border-radius: 50%;
  transition: 0.5s;
  color: var(--off-green);
}
.social-media-right ul li:hover a {
  background-color: var(--off-red);
  color: var(--off-yellow);
}
.hover-menu-bar {
  background-color: var(--off-white);
  width: 40px;
  padding-left: 6px;
  opacity: 0.8;
  margin-left: 15px;
}
.sidenav {
  height: 80vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--off-white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: var(--off-green);
  display: block;
  transition: 0.3s;
  font-family: "Xanh Mono", monospace;
  letter-spacing: 2px;
}

.sidenav a:hover {
  color: var(--off-brown);
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
    font-family: "Xanh Mono", monospace;
  }
}

/* 
This will b eth divide of the two main section so fthis webpage

*/
/* 
watch you parenthis star
*/

/* 
Hopefully this code will become easily accesable
*/

/* 
  This will now be the Beggining to the menu table 
  */

.section-with-menu {
  box-sizing: border-box;
  margin: 12px;
  background-color: #fff;
  padding: 15px;
  width: 500px;
  z-index: 5 !important;
  opacity: 1;
}

/* Set a style for all buttons */
.same-main-title {
  color: var(--off-red);
  font-size: 40px;
  font-family: var(--secondary-font);
  font-weight: 600;
}
.section-with-menu p {
  color: var(--off-brown);
  font-size: 18px;
  font-family: var(--main-font);
}
#one {
  margin-left: 160px;
}
#two {
  margin-left: 160px;
}
#three {
  margin-left: 160px;
}
#four {
  margin-left: 160px;
}
#five {
  margin-left: 160px;
}
#six {
  margin-left: 160px;
}
#seven {
  margin-left: 160px;
}
#eight {
  margin-left: 160px;
}
#nine {
  margin-left: 300px;
}
#ten {
  margin-left: 300px;
}
#eleven {
  margin-left: 300px;
}
#twelve {
  margin-left: 300px;
}
#threeten {
  margin-left: 300px;
}
#fourteen {
  margin-left: 300px;
}
#fithteen {
  margin-left: 300px;
}
#sixteen {
  margin-left: 300px;
}
button {
  /* background-color: var(--off-green); */
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
}
.view-more {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-red);
  color: #fff;
}
.view-more2 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-brown);
  color: #fff;
}
.view-more3 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-green);
}
.view-more4 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-yellow);
}
.view-more5 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-red);
  color: #fff;
}
.view-more6 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-brown);
  color: #fff;
}
.view-more7 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-green);
}
.view-more8 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-yellow);
}
.view-more9 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-yellow);
}
.view-more10 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-green);
}
.view-more11 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-red);
  color: #fff;
}
.view-more12 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-brown);
  color: #fff;
}
.view-more13 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-yellow);
}
.view-more14 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-green);
}
.view-more15 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-red);
  color: #fff;
}
.view-more16 {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--off-brown);
  color: #fff;
}

button:hover {
  opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn {
  float: left;
  width: 50%;
  opacity: 1;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: var(--off-red);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.3rem;
}
.cancelbtn:hover {
  background-color: var(--off-brown);
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  /* text-align: left; */
}
.container ul {
  /* list-style: none; */
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.container ul li {
  font-size: 15px;
  font-family: var(--main-font);
}
.container h1 {
  font-size: 35px;
  font-weight: 600;
  color: var(--off-brown);
  font-family: var(--main-font);
  margin-bottom: 6px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--off-green);
  padding-top: 30px;
  opacity: 0.97;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  opacity: 1 !important;
  z-index: 5;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100vw;
  }
}
.new-section-menu {
  padding-top: 100px;
}

/* footer on second page */
/* -------- This will being the about us page ------------ */


body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* What creates the parallax effect this background attachment function without this the effect is put into place and without this it wont work.  */
  background-attachment: fixed;
  /* 
  fixed = parallax
  scroll = normal 
   */
}

.pimg1{
  background-image: url('./images/owners-image.jpg');
  min-height: 100%;
}

.pimg2{
  background-image: url('./images/chicago-park-image.jpg');
  min-height: 400px;
}

.pimg3{
  background-image: url('./images/chicago-water-image.jpg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}
.section-light{
  background-color: #f4f4ff;
  color: #666;
}
.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}